<!-- Article Main Image
======================================================= -->
<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="/assets/article-images/2-katwijk-aan-zee/oude-rijn.jpg"
alt="Oude Rijn emptying into the North Sea at Katwijk ann Zee, Nederland"
title="Oude Rijn emptying into the North Sea at Katwijk aan Zee, Nederland"
width="340" height="255"
      />
      <br />
      <sup id="fnref:2.1" class="footnote pull-right">
        <a href="#fn:2.1">[1]</a>
      </sup>
    </div>
  </li>
</ul>