<!-- Article Footnotes
===================================================== -->
<ol>
  <li class="fn2"><a href="http://www.flickr.com/photos/rapsak/sets/72157603746857588/">The mouth of the Oude Rijn</a> and other photos from Flickr tagged <a href="http://www.flickr.com/search/?w=all&amp;q=katwijk%2C+Oude+Rijn&amp;m=text">Katwijk and Oude Rijn</a>. <a href="/author#fn2" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

  <li class="fn4"><a href="http://www.flickr.com/search/?q=katwijk" target="_blank" title="Flickr Search Katwick ">Flickr </a>Katwijk search results <a href="/author#fn4" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

  <li class="fn5"><a href="http://en.wikipedia.org/wiki/Romans_in_the_Netherlands" target="_blank" title="Romans in the Netherlands">Romans in the Netherlands</a> <a href="/author#fn5" class="arrow">&uArr;</a></li>
</ol>