<!-- Article Introduction
===================================================== -->
<h1 class="first">
  <span class="i">I</span><small><span class="firstLine">t was fall, late 1994 and I was</span>
  <span class="small"> a junior high, math and science teacher in a small, rural community school.<sup id="fnref:3.2" class="footnote"><a href="#fn:3.2">[2]</a></sup></span></small>
</h1>
