<ul class="nav nav-pills pager pull-right">
        <li><%= link_to "Previous", @article.previous %></li>
        <li><%= link_to "Back to the Top", '#' %>
        <li><%= link_to "Next", @article.next %></li>
      </ul>
