<article class="row-fluid">
<div class="span12 columns">

  <header class="row-fluid page-header">
    <h1 class="first"><span class="o">O</span><small><span class="firstLine">h, hello there&#033; I&#039;m <strong>Mark Schipper</strong> </span><span class="small">and I help individuals achieve success by designing a <strong>personal development framework</strong> that takes a multi&#045;disciplinary approach to goal achievement.</span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span7 pull-left">
      <h3 class="accent"><span>A Bit More About Me</span></h3>

      <p><span>I am based in Calgary Alberta Canada. I have worked in the eduction industry for more than twenty years in both the public and private sectors including K&#045;12 and post-secondary environments.</span></p>

      <p><span>Over the years, I have been most inspired when helping others discover their true passion and ambition, and it has been these experiences that have motivated me to open this consultancy.</span></p>

      <p><span>When I&#039;m not helping others, I&#039;m in the studio, with my guitar or at my desk designing websites.</span></p>

      <p><span>If you would like to know more about what I do and how I do it, feel free to <a href="#" title="Contact Me"><em>contact</em></a> me.</span></p>

    </div>

    <div class="span5 pull-right">
      <h3 class="accent"><span>This Practice</span></h3>

      <p>My workplace is a <strong>studio</strong>&#059; I believe that helping people is a highly creative process, not unlike the work you might find in an art or music studio.</p>

      <p>I <strong>design</strong> and build personal development frameworks that are customized to fit the individual needs of each client.</p>

      <p>By <strong>integrating</strong> different aspects of one&#039;s life, I help people to succeed in both their personal lives and their professional careers.</p>

      <p>This <strong>practice is my vocation</strong>&#059; a small consultancy that specializes in helping people improve their lives.</p>

    </div>
  </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ol>

        <li><%= link_to "LinkedIn", 
        "http://ca.linkedin.com/in/schipperius" %></li>

        <li><%= link_to "GitHub", 
        "https://github.com/schipperius" %></li>

      </ol>
    </div>
  </footer>

</div>
</article>
