<section>
  <div class="page-header">
    <h1>Cartography <small><%= link_to "Maps", about_path %> | Locations | Markers</small></h1>
  </div>

  <div id="map_canvas">
    <!-- The map gets placed in here -->
  </div>

</section>
