<article class="row-fluid">
  <div class="span12 columns">

    <header>
      <div class="page-header">
        <h1>Maps <small>Locations | Markers</small></h1>
      </div>
    </header>

    <section>
      <div id="map_canvas">
        <%# Google Maps goes here %>
      </div>
    </section>

    <footer class="row-fluid page-footer">
      <div class="span12 columns">
        <ol>

        </ol>
      </div>
    </footer>

  </div>
</article>