<section class="row-fluid">
  <div class="span4 columns">
    <p>The <a href="http://en.wikipedia.org/wiki/Gauls">Gauls</a> were a Celtic people living in the region roughly corresponding to what is now France, Belgium, Switzerland and Northern Italy. The countries of Gaul were civilized and wealthy.</p>
    <p>In 58 BC, Gaius Julius Caesar was heavily in debt and decided to conquer and plunder some territories to help get himself out of debt, it is likely that Gaul was not his initial target, but that did not stop him from waging a series of military campaigns against several Gallic Tribes.
    </p>
    <p>These <a href="http://en.wikipedia.org/wiki/Gallic_wars" target="_blank" title="Gallic Wars">Gallic wars</a> as they became known, ended in 52 BC with a Roman victory in the <a href="http://en.wikipedia.org/wiki/Battle_of_Alesia" target="_blank" title="Battle of Alesia">Battle of Alesia</a>, led by none other than Gaius Julius Caesar. This was a significant military victory for the Romans, resulting in the expansion of the Roman Republic over the whole of Gaul, and pushing their northern border to the river Rhine.
      <sup id="fnref:1.3" class="footnote">
        <a href="#fn:1.3">[3]</a>
      </sup>
    </p>
  </div>

  <div class="span4 columns">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
          <img src="druids.jpg"
            alt="Druids, from the 2001 film of the same name"
            title="Druids, from the 2001 film of the same name"
            />
          <br />
          <p class="label">A Druid Couple</p>
          <p class="caption">This still photo is from the 2001 film &ldquo;Druids&rdquo;</p>
          <p class="credit">
            <abbr class="type" title="A Druid Couple">Photograph
            </abbr> by <cite>
            <a href="http://mubi.com/films/druids" target="_blank" title="Druids (2001)"> mubi.com</a>.
            <sup id="fnref:1.4" class="footnote">
              <a href="#fn:1.4">[4]</a>
            </sup>
            </cite>
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="span4 columns">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
          <img src="/assets/galleries/about/author/denarius.jpg"
            alt="Roman Silver Denarius With Head Of Captive Gaul"
            title="Roman Silver Denarius With Head Of Captive Gaul"
            />
          <br />
          <p class="label">Roman Denarius</p>
          <p class="caption">A Roman silver denarius with the head of a captive Gaul, around 4b BC.</p>
          <p class="credit">
            <abbr class="type" title="Roman Denarius">Photograph
            </abbr> by <cite>
            <a href="http://en.wikipedia.org/wiki/File:RomanSilverDenariusWithHeadOfCaptiveGaul48BCE.JPG" target="_blank" title="Roman Silver Denarius With Head Of Captive Gaul 48 BCE">PHGCOM</a>. Photograph in the public domain.
            <sup id="fnref:1.5" class="footnote">
              <a href="#fn:1.5">[5]</a>
            </sup>
            </cite>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
