<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="/assets/article-images/1-caesar-conquers-gaul/vercingetorix.jpg"
alt="Vercingetorix throws down his arms at the feet of Julius Caesar"
title="Vercingetorix throws down his arms at the feet of Julius Caesar"
      />
      <br />
      <sup id="fnref:1.1" class="footnote pull-right">
        <a href="#fn:1.1">[1]</a>
      </sup>
    </div>
  </li>
</ul>