<h1 class="first">
  <span class="m">M</span><small><span class="firstLine">y story begins in 52 BC with Caesar&rsquo;s conquest of Gaul.</span> 
  <span class="small">Going back in time any further seems a little silly.<sup id="fnref:1.2" class="footnote"><a href="#fn:1.2">[2]</a></sup></span></small>
</h1>
