<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="/assets/article-images/5-colophon/apple.png" alt="Apple.com" title="Apple.com" width="340" height="255" />
      <br />
      <sup id="fnref:5.1" class="footnote pull-right">
        <a href="#fn:5.1">[1]</a>
      </sup>
    </div>
  </li>
</ul>