<h1 class="first"><span class="t">T</span><small><span class="firstLine">he colophon is a <em>brief</em> description of the 'making of' a book.</span><span class="small"><sup class="footnote fn1"><a href="/colophon#fn1">[1]</a></sup> The making of <em>this</em> book has been far from brief...</span></small>
</h1>