<ol>
  <li class="fn:colophon.1">In early printed books the
  <a href="http://en.wikipedia.org/wiki/Colophon_%28publishing%29" target="_blank" title="Colophon">colophon</a>, when present, was a brief description of the printing and publication of the book. <a href="/colophon#fn1" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

  <li class="fn2">I developed the Book of Jack on an
  <a href="http://www.apple.com/imac/" target="_blank" title="iMac">iMac</a>, 24-inch early 2009 model. <a href="/colophon#fn2" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

  <li class="fn6">The code for the Book of Jack website is available for all to <a href="https://github.com/schipperius/Jack" target="_blank" title="Schipperius on Github">see</a>. <a href="/colophon#fn6" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>
</ol>