<article class="row-fluid">
<div class="span12 columns">

  <header class="row-fluid page-header">
    <h1 class="first"><span class="m">M</span><small><span class="firstLine">y story begins in 52 BC with Caesar's conquest of Gaul</span><span class="small">, to go back any further seems rather silly. <sup id="fnref:3.1" class="footnote"><a href="/about#fn:3.1">1</a></sup></span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span6 columns">
      <p>Beginning about 58 BC, Julius Caesar waged a series of military campaigns against several Gallic Tribes. <sup id="fnref:3.2" class="footnote"><a href="/about#fn:3.2">2</a></sup></p>

      <p>The Gauls were a Celtic people living in Gaul, the region roughly corresponding to what is now France, Belgium, Switzerland and Northern Italy, from the Iron Age through the Roman period.</p>

      <p>These Gallic wars as they became known, culminated in the Battle of Alesia in 52 BC, when in September of that year, an army of the Roman Republic commanded by Julius Caesar was victorious, resulting in the expansion of the Roman Republic over the whole of Gaul.</p>

      <p>Gaul was a significant military victory for the Romans, as conquering Gaul allowed Rome to secure the natural border of the river Rhine.</p>

      <p>The Rhine is a river that flows from Grisons in the eastern Swiss Alps to the North Sea coast in the Netherlands and is one of the longest and most important rivers in Europe, at about 1,233 km with an average discharge of more than 2,000 m3/s.</p>

    </div>
    
    <div class="span6 columns">
      <p>The Oude Rijn (Old Rhine) is a branch of the Rhine delta in the Dutch provinces of Utrecht and South Holland. Its present-day length is 52 kilometres.
      In Roman times, it was the main Rhine branch, forming the northern border of the Roman Empire. In medieval times, it was used for river transport and there is a towpath along large sections of the river, many parts of which have been upgraded to roads over time. The river silted up in the course of the Middle Ages and had lost all of its importance by the 17th century.</p>
      <p>In Roman times, the river Oude Rijn, which was much wider, formed the Roman Empire's northern border (Limes Germanicus). The Limes Germanicus (Latin for Germanic frontier) was a line of frontier (limes) fortifications that bounded the ancient Roman provinces of Germania Inferior, Germania Superior and Raetia, dividing the Roman Empire and the unsubdued Germanic tribes from the years 83 to about 260 AD. At its height, the limes stretched from the North Sea outlet of the Rhine to near Regensburg on the Danube. Those two major rivers afforded natural protection from mass incursions into imperial territory, with the exception of a gap stretching roughly from Mogontiacum (Mainz) on the Rhine to Castra Regina (Regensburg) on the Danube.
      The Limes Germanicus was divided into:
      The Lower Germanic Limes, which extended from the North Sea at Katwijk in the Netherlands along the then main Lower Rhine branches (modern Oude Rijn, Leidse Rijn, Kromme Rijn, Nederrijn)</p>
      <p>For around 450 years, from around 55 BC to around 410 AD, the southern part of the Netherlands was integrated into the Roman Empire. During this time the Romans in the Netherlands had an enormous influence on the lives and culture of the people who lived in the Netherlands at the time and (indirectly) on the generations that followed.</p>
      <p>So, I was born within 30Km of the northern border of the Roman Empire.</p>
    </div>
  </section>

  <section class="row-fluid">
    <div class="span12 columns">
      <p>The Gallic Wars were a series of military campaigns waged by the Roman proconsul Julius Caesar against several Gallic tribes. They lasted from 58 BC to 51 BC and culminated in the decisive Battle of Alesia in 52 BC, in which a complete Roman victory resulted in the expansion of the Roman Republic over the whole of Gaul. The wars paved the way for Julius Caesar to become the sole ruler of the Roman Republic.</p>
    </div>

    <div class="span12 columns">
    </div>
  </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ol>
        <li id="fn:3.1">I <em>have</em> gone back further, <a href="http://www.historyofinformation.com/index.php" target="_blank" title="History of Information">way back</a>, but I always end up getting distracted and seem to lose my focus, which is why it is taking me sooo long to finish this book. <a href="/about#fnref:3.1" class="arrow">↑</a></li>

        <li id="fn:3.2">Julius Caesar<a href="" target="_blank" title=""></a>    <a href="/about#fnref:3.2" class="arrow">↑</a></li>

        <li id="fn:3.3">What makes this version of the <a href="http://en.wikipedia.org/wiki/Geneva_Bible" target="_blank" title="Geneva Bible article from Wikipedia">Holy Bible </a>significant is that, for the very first time, a mechanically printed, mass-produced Bible was made directly available to the general public. <a href="/about#fnref:3.3" class="arrow">↑</a></li>

        <li><%= link_to "Romans in the Netherlands",  "http://en.wikipedia.org/wiki/Romans_in_the_Netherlands" %></li>

        <li><%= link_to "LinkedIn", "http://ca.linkedin.com/in/schipperius" %></li>

        <li><%= link_to "GitHub", "https://github.com/schipperius" %></li>            
      </ol>
    </div>
  </footer>

</div>
</article>
