<article id="global" class="row-fluid">
<div class="span12 columns">

  <header id="forward" class="row-fluid page-header">
    <h1 class="first"><span class="m">M</span><small><span class="firstLine">y story begins in 51 BC with Caesar's conquest of Gaul</span><span class="small">, to go back any further, seems rather silly. <sup id="fnref:3.1" class="footnote"><a href="/about#fn:3.1">1</a></sup></span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span6 columns">
      <p>My story begins with Caesar's conquest of Gaul, completed by 51 BC, which extended Rome's northern territory to the English Channel and the Rhine.</p>
      <p>Conquering Gaul allowed Rome to secure the natural border of the river Rhine.</p>
    </div>
    
    <div class="span6 columns">
      <p>For around 450 years, from around 55 BC to around 410 AD, the southern part of the Netherlands was integrated into the Roman Empire. During this time the Romans in the Netherlands had an enormous influence on the lives and culture of the people who lived in the Netherlands at the time and (indirectly) on the generations that followed.</p>
    </div>
  </section>

  <section class="row-fluid">
    <div class="span12 columns">
      <p>The Gallic Wars were a series of military campaigns waged by the Roman proconsul Julius Caesar against several Gallic tribes. They lasted from 58 BC to 51 BC and culminated in the decisive Battle of Alesia in 52 BC, in which a complete Roman victory resulted in the expansion of the Roman Republic over the whole of Gaul. The wars paved the way for Julius Caesar to become the sole ruler of the Roman Republic.</p>
    </div>

    <div class="span12 columns">
      <li><%= link_to "Romans in the Netherlands",  "http://en.wikipedia.org/wiki/Romans_in_the_Netherlands" %></li>
      <li><%= link_to "LinkedIn", "http://ca.linkedin.com/in/schipperius" %></li>
      <li><%= link_to "GitHub", "https://github.com/schipperius" %></li>            
    </div>
  </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ul>
        <li id="fn:3.1">I <em>have</em> gone back further, <a href="http://www.historyofinformation.com/index.php" target="_blank" title="History of Information">way back</a>, but I always end up getting distracted and seem to lose the primary purpose of finishing this book.<a href="/about#fnref:3.1" class="arrow">↑</a>
        </li>
        <li id="fn:1.2">The letter j is the tenth letter of the Latin alphabet (yes, the same one we use to write the English language) and it was the <a href="http://en.wikipedia.org/wiki/J" target="_blank" title="The Letter J">last letter</a> to be added to the alphabet, being first introduced in the 15th century and formally <a href="http://en.wikipedia.org/wiki/J" target="_blank" title="The Letter J">accepted</a> by the mid-17th century. <a href="/about#fnref:1.2" class="arrow">↑</a>
        </li>
        <li id="fn:1.3">What makes this version of the <a href="http://en.wikipedia.org/wiki/Geneva_Bible" target="_blank" title="Geneva Bible article from Wikipedia">Holy Bible </a>significant is that, for the very first time, a mechanically printed, mass-produced Bible was made directly available to the general public. <a href="/about#fnref:1.3" class="arrow">↑</a>
        </li>
      </ul>
    </div>
  </footer>

</div>
</article>
