<article class="row-fluid">
<div class="span12 columns">

  <header class="row-fluid page-header">
    <h1 class="first"><span class="t">T</span><small><span class="firstLine">here are several people I wish to thank</span><span class="small"> in helping me with thiw project.<sup id="fnref:5.1" class="footnote"><a href="/about#fn:5.1">[1]</a></sup> as being the first author to provide a table of contents to help readers navigate a lengthy work<sup id="fnref:5.2" class="footnote"><a href="/about#fn:5.2">[2]</a></sup>.</span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span8 columns">
    </div>
  </section>

    <footer class="row-fluid page-footer">
      <div class="span12 columns">
        <ol>
          <li id="fn:5.1">I <em>have</em> gone back further, <a href="http://www.historyofinformation.com/index.php" target="_blank" title="History of Information">way back</a>, but I always end up getting distracted, which is why it is taking me so long to finish this book.<a href="/about#fnref:5.1" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>
      </ol>
    </div>
  </footer>

</div>
</article>