<header class="row-fluid page-header">
  <h1 class="first"><span class="t">T</span><small><span class="firstLine">he colophon is a brief description of the 'making of' a book.</span><span class="small"><sup id="fnref:1.1" class="footnote"><a href="/about#fn:1.1">[1]</a></sup> The making of <em>this</em> book has been far from brief; it involved not only the research and writing of the content, but also the design and development of this website.</span></small>
  </h1>
</header>

<section class="row-fluid">
  <div class="span4 columns">
    <p>Setting up my work environment required the installation of a number of, what I refer to, as primary development tools:
    <ul>
      <li><a href="http://www.apple.com/macosx/what-is/" title="Mac OS X" target="_blank">OS X Lion</a> 10.7.3 is Apple's desktop operating system for Macintosh computers.<sup id="fnref:1.2" class="footnote"><a href="/about#fn:1.2">[2]</a></sup></li>
      <li>Google <a href="https://www.google.com/chrome" title="Google Chrome" target="_blank">Chrome</a> is currently one of the best web browsers on the Internet.</li>
      <li><a href="https://developer.apple.com/xcode/" title="Apple Xcode" target="_blank">xCode</a> is Apple's powerful integrated development environment for creating great apps for Mac, iPhone, and iPad.</li>
      <li><a href="http://mxcl.github.com/homebrew/" title="Homebrew" target="_blank">Homebrew</a> is a package management system that is the easiest and most flexible way to install the UNIX tools Apple didn’t include with OS X.</li>
      <li><a href="http://www.iterm2.com/#/section/home" title="iTerm2" target="_blank">iterm2</a> is a replacement for Terminal, the command line interface for Mac OS X.</li>
      <li><a href="http://en.wikipedia.org/wiki/Z_shell" title="Z Shell" target="_blank">Zsh</a> is a Unix shell that can be used as an interactive login shell and as a powerful command interpreter for shell scripting.</li>
      <li><a href="http://en.wikipedia.org/wiki/Wget" title="Wget" target="_blank">Wget</a> is a computer program that retrieves content from web servers.</li>
      <li><a href="https://github.com/robbyrussell/oh-my-zsh" title="Oh-my-zsh" target="_blank">Oh-my-zsh</a> is a community-driven framework for managing your zsh configuration.</li>
      <li><a href="http://www.postgresql.org/" title="PostgreSQL" target="_blank">PostgreSQL</a> is an object-relational database management system used to store the data created by this website.</li>
      <li><a href="http://macromates.com/" title="Textmate" target="_blank">Textmate</a> is a general-purpose text editor used to create the documents used in the making of this website.</li>
      <li><a href="http://growl.info/" title="Growl" target="_blank">Growl</a> is a global notification system used to send notifications about recent changes to applications.</li>
      <li><a href="http://git-scm.com/" title="Git" target="_blank">Git</a> is a distributed version control system used to manage changes made to documents.</li>
      <li><a href="https://github.com/" title="Github" target="_blank">Github</a> is a web-based hosting service for software development projects that uses the Git revision control system.</li>
      <li><a href="http://www.heroku.com/" title="Heroku" target="_blank">Heroku</a> is a cloud application platform used to host this website in production.</li>
    </ul>
    <p>With the primary tools installed, I am almost ready to begin building a website.</p>
  </div>

  <div class="span4 columns">
    <p>The Book of Jack was built with Ruby on Rails, and before I could get started, I had to create the Ruby environment by installing the following secondary tools.</p>
    <ul>
      <li><a href="http://beginrescueend.com/">RVM</a> is a command-line tool which allows you to easily install, manage, and work with multiple ruby environments from interpreters to sets of gems.</li>
      <li><a href="http://www.ruby-lang.org/en/">Ruby</a> is a dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</li>
      <li><a href="http://rubygems.org/">Rubygems</a> is a package manager for the Ruby programming language that provides a standard format for distributing Ruby programs and libraries (in a self-contained format called a "gem"), a tool designed to easily manage the installation of gems, and a server for distributing them.</li>
      <li><a href="rubyonrails">Rails</a> is an open source full-stack web application framework for the Ruby programming language.</li>
    </ul>
  </div>

  <div class="span4 columns">
    <p>Next up, is to initiate a new rails app and set up the rails environment by installing specific rubygems, which is a highly customizable process, no two websites have the same requirements.</p>
    <p>This process will b commented on in a future article.</p>
    <p>Finally, the website needs to be deployed, which I have not yet begun. A future article on this process will also be forthcoming.</p>
    <p>As you can see, getting a website up and running can be a daunting process and has required a tremendous amount of time and effort. It's not for the faint of heart, that's for sure!</p>
  </div>
</section>

<footer class="row-fluid page-footer">
  <div class="span12 columns">
    <ol>
      <li id="fn:1.1">In early printed books the
      <a href="http://en.wikipedia.org/wiki/Colophon_%28publishing%29" target="_blank" title="Colophon">colophon</a>, when present, was a brief description of the printing and publication of the book. <a href="/about#fnref:1.1" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

      <li id="fn:1.2">I developed the Book of Jack on an
      <a href="http://www.apple.com/imac/" target="_blank" title="iMac">iMac</a>, 24-inch early 2009 model. <a href="/about#fnref:1.2" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

      <li id="fn:1.6">The code for the Book of Jack website is available for all to <a href="https://github.com/schipperius/Jack" target="_blank" title="Schipperius on Github">see</a>. If you look in the root directory, for the file called 'Gemfile', you will see many of the gems included in this website. Interestingly, not all gems used need to be included in this file, I am not yet sure as to why. <a href="/about#fnref:1.6" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>
    </ol>
  </div>
</footer>