<article class="row-fluid">
<div class="span12 columns">

  <header class="row-fluid page-header">
    <h1 class="first"><span class="e">E</span><small><span class="firstLine">verything counts, nothing matters.</span><span class="small"></span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span12 columns">
      <p>The simplest Way for me to explain the meaning of Life, is with the phrase: Everything counts, Nothing Matters.</p>
    </div>
  </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ol>
        <li id="fn:4.1"><a href="#" target="_blank" title="Everything Counts, Nothing Matters">Everything Counts Nothing Matters</a> is a philosophy of life that I have cultivated over the years and reflects the teachings I have receive over the years. <a href="/about#fnref:4.1" class="arrow">[<i class="icon-arrow-up"></i>]</a>
        </li>
      </ol>
    </div>
  </footer>

</div>
</article>