<article class="row-fluid">
<div class="span12 columns">

  <header class="row-fluid page-header">
    <h1 class="first"><span class="f">F</span><small><span class="firstLine">oreword to the Book of Jack</span><span class="small"></span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span4 columns">
    </div>
  </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ol>

      </ol>
    </div>
  </footer>

</div>
</article>