<article class="row-fluid">
<div class="span12 columns">

  <header class="row-fluid page-header">
    <h1 class="first"><span class="t">T</span><small><span class="firstLine">he Book of Jack was supposed to be</span><span class="small"> an entertaining exploration of the name &lsquo;Jack&rsquo;, its origins and usage, the letter &lsquo;j&rsquo; and even the sound &lsquo;dzh&rsquo;. Once I started however, this project took on a life of its own and eventually, after many iterations, morphed into this web site.<sup id="fnref:7.1" class="footnote"><a href="/about#fn:7.1">[1]</a></sup></span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span4 columns">
      <p>This photograph is of a Geneva Bible that was printed in 1581.<sup id="fnref:7.2" class="footnote"><a href="/about#fn:7.2">[2]</a></sup></p>

      <p>A little blasphemous maybe, but it&rsquo;s as good a place to start as any.... You see, the letter &lsquo;j&rsquo; is absent from this bible, it hadn&rsquo;t even been invented yet&#033;<sup id="fnref:7.3" class="footnote"><a href="/about#fn:7.3">[3]</a></sup></p>

      <p>I&rsquo;m wondering how they spelled Jesus, Jacob and Jerusalem&#063; And, if they didn&rsquo;t use the letter &lsquo;J&rsquo;, which has a &lsquo;dzh&rsquo; sound, how <em>did</em> they pronounce the names Jesus, Jacob and Jerusalem&#063;</p>
    </div>

    <div class="span8 columns">
      <ul class="thumbnails">
        <li>
          <div class="thumbnail">
            <%= image_tag "galleries/about/geneva-bible.jpg", :alt => 'Geneva Bible' %>
              <p class="credit"><abbr class="type" title="Geneva Bible 1581">Photograph</abbr> by <cite><a href="http://ca.linkedin.com/pub/liam-quin/8/184/705" target="_blank" title="Liam Quin on LinkedIn"> Liam Quin</a>. Used with permission.</cite></p>
              <p class="caption"><em class="title">Figure</em> A Geneva Bible from 1581</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="row-fluid">
    <div class="span6 columns">
      <p>Beyond these questions, the significance of the Geneva Bible can not be overstated.</p>

      <p>The Geneva Bible is the most revolutionary of all English Bibles, it was the first English version to be translated entirely from the original languages, it was read by William Shakespeare when he wasn't writing a tragedy, and it was brought to America by the Puritans riding on the Mayflower thus greatly influencing the colonial culture of early American life.<sup id="fnref:7.4" class="footnote"><a href="/about#fn:7.4">[4]</a></sup><sup id="fnref:7.5" class="footnote"><a href="/about#fn:7.5">[5]</a></sup></p>
    </div>

    <div class="span6 columns">
      <p>The rest of this site reflects my interest in all things &lsquo;Jack&rsquo;. A labour of love, maybe an obsession, or simple boredom, I don&rsquo;t really know.</p>

      <p>Anyway, by subscribing to the <a href="xml/rssFeed.xml" class="feed" title="RSS Feed">RSS</a> feed (not built yet), or to <a href="http://twitter.com/BookofJack" class="feed" title="Follow us on Twitter" target="_blank">Twitter</a>, you can receive notification as new content and functionality is added to this site. You can also contact me <a href="#contact" data-toggle="tab" title="Contact">here</a> (not built yet either) if you like.</p>

      <p>Cheers.</p>
    </div>
  </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ol>
        <li id="fn:7.1">This web site has been hand-crafted with love. Learn more about the <a href="#author" data-toggle="tab" title="Author">author</a>. Learn more about how this site was <a href="#colophon" data-toggle="tab" title="Colophon">built</a>. <a href="/about#fnref:7.1" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

        <li id="fn:7.2">There is a very nice collection of old books from Liam Quin <a href="http://www.fromoldbooks.org/" target="_blank" title="Pictures of Old Books from the Liam Quin collection">Pictures of Old Books</a>. <a href="/about#fnref:7.2" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

        <li id="fn:7.3">The letter j is the tenth letter of the Latin alphabet (yes, the same one we use to write the English language), and it was the <a href="http://en.wikipedia.org/wiki/J" target="_blank" title="The Letter J">last letter</a> to be added, being introduced in the 15th century and formally <a href="http://en.wikipedia.org/wiki/J" target="_blank" title="The Letter J">accepted</a> by the mid-17th century. <a href="/about#fnref:7.3" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

        <li id="fn:7.4">What makes this version of the <a href="http://en.wikipedia.org/wiki/Geneva_Bible" target="_blank" title="Geneva Bible article from Wikipedia">Holy Bible </a>significant is that, for the very first time, a mechanically printed, mass-produced Bible was made directly available to the general public. <a href="/about#fnref:7.4" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>

        <li id="fn:7.5">And, for those of you interested in learning more about the Geneva Bible and the larger Reformation Movement, I found the <a href="http://www.reformedreader.org/gbn/igb.htm" target="_blank" title="The Reformed Reader">Reformed Reader</a>. <a href="/about#fnref:7.5" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>
      </ol>
    </div>
  </footer>

</div>
</article>