<article class="row-fluid">
<div class="span12 columns">

  <header class="row-fluid page-header">
    <h1 class="first"><span class="p">P</span><small><span class="firstLine">liny the Elder</span><span class="small"> credits Quintus Valerius Soranus<sup id="fnref:2.1" class="footnote"><a href="/about#fn:2.1">[1]</a></sup> as being the first author to provide a table of contents to help readers navigate a lengthy work<sup id="fnref:2.2" class="footnote"><a href="/about#fn:2.2">[2]</a></sup>.</span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span4 columns">
      <ul class="nav nav-list">
        <li class="nav-header active">
          <a href="#"><i class="icon-user"></i>Historical</a></li>
        <li><a href="#">Antiquity</a></li>
        <li><a href="#">Middle Ages</a></li>
        <li><a href="#">Modern Era</a></li>
        <li class="divider"></li>
      </ul>
    </div>

    <div class="span4 columns">
      <ul class="nav nav-list">
        <li class="nav-header">
          <a href="#"><i class="icon-user"></i>Men</a></li>
        <li><a href="#">Occupational</a></li>
        <li><a href="#">Famous</a></li>
        <li><a href="#">Fictional</a></li>
        <li><a href="#">Entertainment</a></li>
        <li class="divider"></li>

        <li class="nav-header">
          <a href="#"><i class="icon-book"></i>Literature</a></li>
        <li><a href="#">Folklore</a></li>
        <li><a href="#">Mother Goose</a></li>
        <li><a href="#">Shakespeare</a></li>
        <li><a href="#">Phrases</a></li>
        <li class="divider"></li>
      </ul>
    </div>

    <div class="span4 columns">
      <ul class="nav nav-list">

        <li class="nav-header">
          <a href="#"><i class="icon-home"></i>Household</a></li>
        <li><a href="#">Games</a></li>
        <li><a href="#">Toys</a></li>
        <li><a href="#">Kitchen</a></li>
        <li><a href="#">Garage</a></li>
        <li class="divider"></li>

        <li class="nav-header">
          <a href="#"><i class="icon-user"></i>Global</a></li>
        <li><a href="#">Nature</a></li>
        <li><a href="#">Places</a></li>
        <li class="divider"></li>
      </ul>
    </div>
  </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ol>
        <li id="fn:2.1"><a href="http://en.wikipedia.org/wiki/Quintus_Valerius_Soranus" target="_blank" title="Quintus Valerius Soranus">Quintus Valerius Soranus</a>.<a href="/about#fnref:2.1" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>
        <li id="fn:2.2"><a href="http://en.wikipedia.org/wiki/Pliny_the_Elder" target="_blank" title="Pliny the Elder">Pliny the Elder</a>.<a href="/about#fnref:2.2" class="arrow">[<i class="icon-arrow-up"></i>]</a></li>
      </ol>
    </div>
  </footer>


</div>
</article>