<article class="row-fluid">
<div class="span12 columns">

  <header class="row-fluid page-header">
    <h1 class="first"><span class="t">T</span><small><span class="firstLine">able of Contents</span><span class="small"></span></small>
    </h1>
  </header>

  <section class="row-fluid">
    <div class="span4 columns">
      <ul class="nav nav-list">
        <li class="nav-header active">
          <a href="#"><i class="icon-user"></i>Historical</a></li>
        <li><a href="#">Antiquity</a></li>
        <li><a href="#">Middle Ages</a></li>
        <li><a href="#">Modern Era</a></li>
        <li class="divider"></li>
      </ul>
    </div>

    <div class="span4 columns">
      <ul class="nav nav-list">
        <li class="nav-header">
          <a href="#"><i class="icon-user"></i>Men</a></li>
        <li><a href="#">Occupational</a></li>
        <li><a href="#">Famous</a></li>
        <li><a href="#">Fictional</a></li>
        <li><a href="#">Entertainment</a></li>
        <li class="divider"></li>

        <li class="nav-header">
          <a href="#"><i class="icon-book"></i>Literature</a></li>
        <li><a href="#">Folklore</a></li>
        <li><a href="#">Mother Goose</a></li>
        <li><a href="#">Shakespeare</a></li>
        <li><a href="#">Phrases</a></li>
        <li class="divider"></li>
      </ul>
    </div>

    <div class="span4 columns">
      <ul class="nav nav-list">

        <li class="nav-header"><a href="#">Household</a></li>
        <li><a href="#">Games</a></li>
        <li><a href="#">Kitchen</a></li>
        <li><a href="#">Garage</a></li>
        <li class="divider"></li>

        <li class="nav-header"><a href="#">Global</a></li>
        <li><a href="#">Nature</a></li>
        <li><a href="#">Places</a></li>
        <li class="divider"></li>
      </ul>
    </div>
  </section>

  <footer class="row-fluid page-footer">
    <div class="span12 columns">
      <ol>
      </ol>
    </div>
  </footer>


</div>
</article>
