<article class="row-fluid">
  <div class="span12 columns">

    <%= render 'nav' %>

    <header class="row-fluid page-header">
      <h1 class="first"><span class="t">T</span><small><span class="firstLine">here are several people I wish to thank</span><span class="small"> in helping me write the Book of Jack.</span></small>
      </h1>
    </header>

    <section class="row-fluid">
      <div class="span4 columns">
        <p>The seeds of inspiration for this book were planted in the fall of 1994. I was a school teacher sitting at a monthly staff meeting trying to remember the name given to a carved pumpkin.</p>
        <p>Sitting next to me was Yvonne Landon, the best teacher I have ever met, she smiled at me and said, "Jack O'Lantern". I remember that day well, I had a list of words and phrases on the page and still couldn't remember the obvious.</p>
      </div>

      <div class="span4 columns">
        <p>By the the late nineties, I had collected over a hundred examples of the name Jack including tools, games, toys, places, plants, animals and more.<p>
      </div>

      <div class="span4 columns">
        <p>I met my current partner, Tannice, in 2004, and it is only with her amazing support that this project is seeing the light of day.</p>
      </div>
    </section>

    <footer class="row-fluid page-footer">
      <div class="span12 columns">
        <ol>
        </ol>
      </div>
    </footer>

    <%= render 'back-to-top' %>

  </div>
</article>