<article class="row-fluid">
  <div class="span12 columns">

    <header class="row-fluid page-header">
      <h1>Copyright</h1>
      <br/>
      <h2 class="first"><span class="w">W</span><small><span class="firstLine">ithin the context of this project,</span> <span class="small">a discussion of copyright should be quite straight forward...</span></small>
      </h2>
    </header>

    <section class="row-fluid">
      <div class="span12 columns">
        <div class="span3 columns">
          <h3>Intellectual Property</h3>
        </div>
        <div class="span3 columns">
          <h3>Plagiarism</h3>
        </div>
        <div class="span3 columns">
          <h3>Privacy</h3>
        </div>
        <div class="span3 columns">
          <h3>Copyright</h3>
          <p>Many of the designations used by manufacturers and sellers to distinguish their products are claimed as trademarks. Where those designations appear in this website, Integrate Design Studios was aware of a trademark claim.</p>
        </div>
      </div>
    </section>

    <footer class="row-fluid page-footer">
      <div class="span12 columns">
        <ol>
        </ol>
      </div>
    </footer>

  </div>
</article>
