<div class="navbar-inner">
  <div class="container-fluid">
    <div class="nav-collapse">
      <ul class="nav pull-right">
        <li><%= link_to "&copy;" %></li>
        <li><%= link_to Date.today.year %></li>
        <li><%= link_to "Integrate Design Studio" %></li>
      </ul>
    </div>
  </div>
</div>