<footer id="footer" class="footer navbar">
  <div class="navbar-inner">

    <div class="container-fluid">
      <div class="nav-collapse">

        <ul class="nav pull-right">
          <li><a href="integrate">&copy; <%= Date.today.year %> Integrate Design Studio</a></li>
        </ul>

      </div>
    </div>

  </div>
</footer>