<div class="navbar-inner">
  <div class="container-fluid">
    <div class="nav-collapse">
      <ul class="nav pull-right">
        <li><%= link_to "Integrate Design Studio", integrate_path %></li>
      </ul>
    </div>
  </div>
</div>