<nav role="navigation" class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><%= link_to "Integrate Design Studio" %></li>
          <li>&copy; <%= Date.today.year %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
