<!-- Site Header
  ===================================================== -->
  <section class="row-fluid pager">
    <header role="banner" id="header" class="pull-left">
      <hgroup id="hgroup">
        <a class="btn hero-unit" href="/">
          <h1>
            <small><strong>The</strong></small>
            <strong>Book of Jack</strong>
          </h1>
          <strong>
            <p>An exploration of the name Jack&#59; its origins and usage.</p>
          </strong>
        </a>
      </hgroup>
    </header>
  </section>

