<header role="banner" id="header" class="row-fluid">

  <%= link_to logo, root_path, title: "Book of Jack" %>

  <hgroup id="hgroup">
    <h1><span>The Book of Jack</span></h1>
    <h2><span>An entertaining exploration of all things Jack</span></h2>
  </hgroup>

</header>