<header class="row-fluid page-header">
  <h1 class="about"><small>Table of Contents</small>
  </h1>
</header>

<section class="nav-header">
  <ul class="nav nav-list">
    <li class="nav-header active"><a href="#">Historical</a></li>
    <li><a href="#">Antiquity</a></li>
    <li><a href="#">Middle Ages</a></li>
    <li><a href="#">Modern Era</a></li>

    <li class="nav-header"><a href="#">Men</a></li>
    <li><a href="#">Historical</a></li>
    <li><a href="#">Occupational</a></li>
    <li><a href="#">Fictional</a></li>
    <li><a href="#">Entertainment</a></li>

    <li class="nav-header"><a href="#">Literature</a></li>
    <li><a href="#">Folklore</a></li>
    <li><a href="#">Mother Goose</a></li>
    <li><a href="#">Shakespeare</a></li>
    <li><a href="#">Phrases</a></li>

    <li class="nav-header"><a href="#">Household</a></li>
    <li><a href="#">Games</a></li>
    <li><a href="#">Kitchen</a></li>
    <li><a href="#">Garage</a></li>

    <li class="nav-header"><a href="#">Global</a></li>
    <li><a href="#">Nature</a></li>
    <li><a href="#">Places</a></li>
  </ul>
</section>